@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 2px $green-500;
}

body {
  background: $gray-800;
  color: $gray-100;
  -webkit-font-smoothing: antialiased;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      transition: text-decoration 0.5s ease-in-out;
    }
  }
}

body, input, textarea, button {
  font: 400 1rem "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: $gray-700;
}

::-webkit-scrollbar-thumb {
  background: $gray-500;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: $gray-400;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%; // 15px
  }

  @media (max-width: 720px) {
    font-size: 87.5%; // 14px
  }
}
